apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base

generatorOptions:
 disableNameSuffixHash: true
secretGenerator:
- name: keycloak-db-secret
  envs:
  - env/bd-credential.env
- name: credential-keycloak
  envs:
  - env/sso-credential.env

patches:
- patch: |-
    - op: add
      path: /spec/targetNamespaces/-
      value: rhsso-dev
  target:
    group: operators.coreos.com
    kind: OperatorGroup
    name: rhsso
    version: v1


resources:
#- namespace.yaml
- sso-instance.yaml
- sso-realms/test-client-testclient.yaml
- sso-realms/test-realm.yaml
